<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dyndns.gill_roxrud.frodeg.animalexchange">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:name="org.dyndns.gill_roxrud.frodeg.animalexchange.AnimalExchangeApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="org.dyndns.gill_roxrud.frodeg.animalexchange.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
